
@{
    ViewData["Title"] = "InActiveUser";
}


<div class="text-center">
    <h1 class="display-4">This user is inactive, you cannot add any transactions!</h1>
    <a asp-controller="User" , asp-action="Index">Back to users List</a>
</div>

