@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to</h1>
    <h3 class="display-4">Financial Planner by The B Team</h3>
    <h3>Start using this app by <a asp-controller="User" , asp-action="Index">going to users list</a></h3>
    <h3></h3>
</div>
