
@{
    ViewData["Title"] = "Create";
}

<h1>Create new budget</h1>
<h2>Please select month and year for new budget</h2>
<div class="container container shadow p-3 mb-5 bg-white rounded">
    <form asp-action="Create">
        <div class="col">
            <label class="col-form-label">Month and year: </label>
            <input type="month" id="date" name="date" class="form-control" value="@Model" />
        </div>
        <div class="form-group">
            <input type="submit" value="Select" class="btn btn-secondary" />
        </div>
    </form>
</div>
