@model IEnumerable<TheBTeam.BLL.Models.IndexBudget>

@{
    ViewData["Title"] = "Index";
}

<h1>Users with planned budget</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().User.FirstName"></label>
            </th>
            <th>
                <label asp-for="First().User.LastName"></label>
            </th>
            <th>
                <label asp-for="First().User.Email"></label>
            </th>
            <th>
                <label>Budget left [%]</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.FirstName
                </td>
                <td>
                    @item.User.LastName
                </td>
                <td>
                    @item.User.Email
                </td>
                <td>
                    @item.CategoryBudget
                </td>
            </tr>
        }
    </tbody>
</table>
