@using TheBTeam.BLL
@using TheBTeam.BLL.DAL
@using TheBTeam.BLL.Models
@using System.Security.Cryptography.X509Certificates
@using System.Globalization
@using System.Text.Json;
@using System.Text.Json.Serialization;

<form>
<div class="row">
    <div class="col">
        <label class="col-form-label">Date form:</label>
        <input type="date" id="dateFrom" name="dateFrom" class="form-control"  />
    </div>

    <div class="col">
        <label class="col-form-label">Date to:</label>
        <input type="date" id="dateTo" name="dateTo" class="form-control"  />
    </div>
</div>

<div class="form-group">
    <input type="submit" value="Search transaction" class="btn btn-secondary" />
</div>
</form>