@{
    ViewData["Title"] = "EmptyList";
}

<div class="text-center">
    <h1 class="display-4">There is no users! go to user list.</h1>
    <a asp-controller="User" , asp-action="Index">Go to users List</a>
</div>