@model IEnumerable<TheBTeam.BLL.Models.UserDto>

@{
    ViewData["Title"] = "Index";
}

<div class="container shadow p-3 mb-5 bg-white rounded mb border-dark">
    <h2></h2>
    <div class="container flex-row">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Users Registered</div>
                    <div class="card-body">
                        <h5 class="card-title">pholder</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Users Active</div>
                    <div class="card-body">
                        <h5 class="card-title">pholder</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Transactions</div>
                    <div class="card-body">
                        <h5 class="card-title">pholder</h5>
                    </div>
                </div>
            </div>
            @*<div class="col">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="row" style="justify-content:space-evenly;">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="height:27rem;">
                <div class="card-header">Transactions Total value</div>
                <div class="card-body">
                    <h5 class="card-title">i'd like a graph</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="height:27rem;">
                <div class="card-header">Transactions Category share</div>
                <div class="card-body">
                    <h5 class="card-title">plx help me make a graph</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card text-white bg-dark mb-3" style="height:30rem;">
                <div class="panel with-nav-tabs panel-dark bg-dark mb-3">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" class="btn btn-nav text-light bg-dark m-2" data-toggle="tab">Users</a></li>
                            <li><a href="#tab2default" class="btn btn-nav text-light bg-dark m-2" data-toggle="tab">Transactions</a></li>

                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1default">
                                @{
                                    @Html.RenderPartialAsync("_PartialUserIndex");
                                }

                            </div>
                            <div class="tab-pane fade" id="tab2default">
                                <table class=" table table-dark">
                                    <tr>
                                        <td>Cell E</td>
                                        <td>Cell F</td>
                                    </tr>
                                    <tr>
                                        <td>Cell G</td>
                                        <td>Cell H</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab3default">Default 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <ul class="fullclick">
                <li class="card text-white bg-info mb-3 p-3">
                    <h3>Report</h3>
                    <p>Generate report</p>
                </li>
                <li class="card text-white bg-info mb-3 p-3">
                    <h3>Support</h3>
                    <p>Raise a support ticket</p>
                </li>
                <li class="card text-white bg-danger mb-3 p-3">
                    <a asp-area="" asp-controller="account" asp-action="LogOut">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>