<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Financial Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Chart-js/chart.js"></script>
    <script src="~/lib/palette/palette.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body>
    <main role="main">
        <div class="row">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 250px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img src="~/LogoTheBTeam.png" class="d-inline-block align-middle rounded" width="220" />                
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <partial name="_LoginPartial" />
                    <br />
                    <li>
                        <a class="nav-link text-dark border border-primary rounded" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="bi bi-house "></i>
                            Home
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-dark border border-warning rounded" asp-area="" asp-controller="User" asp-action="Index">
                            <i class="bi bi-person me-2"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark border border-success rounded" asp-area="" asp-controller="Transaction" asp-action="Index">
                            <i class="bi bi-bag me-2"></i>
                            Transactions
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark border border-success rounded" asp-area="" asp-controller="CategoryBudget" asp-action="Index">
                            <i class="bi bi-shop me-2"></i>
                            Budgets
                        </a>
                    </li>
                    <li>
                        @if (@User.Identity.Name == "mm@wp.pl")
                        {
                            <br />
                            <div>
                                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-person-box me-2"></i>
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Add adminisrator</a>
                                    @*<a class="dropdown-item" asp-area="" asp-controller="account" asp-action="Delete">Delete user</a>*@
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        }
                    </li>
                </ul>
            </div>
            <div class="menu-divider"></div>

            <div class="container overflow-auto">
                @RenderBody()
            </div>
        </div>
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
