<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a style="margin-left:1.35rem; margin-right:1.35rem;" class="btn btn-nav" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-nav" asp-area="" asp-controller="account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a style="margin-left:1.35rem;" class="btn btn-nav" asp-area="" asp-controller="account" asp-action="LogOut">Logout</a>
    </li>
</ul>