@*@using TheBTeam.BLL.Models
@model ICollection<UserDto>*@

<ul class="navbar-nav">
    <li>
            <a class="nav-link text-dark border border-success rounded" asp-area="" asp-controller="account" asp-action="Register">
                <i class="bi bi-person me-2"></i>
                Register
            </a>
        </li>
    <li>
        <a class="nav-link text-dark border border-warning rounded" asp-area="" asp-controller="account" asp-action="LogOut">
            <i class="bi bi-person me-2"></i>
            Logout
        </a>
    </li>
</ul>